@font-face {
  font-family: 'Josefin Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url('josefinsans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url('josefinsans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url('josefinsans-italic.woff') format('woff');
}
